<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.thangiee.lolhangouts"
      android:versionCode="3000"
      android:versionName="3.0.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="24"
        />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:name="com.thangiee.lolhangouts.MyApp">

        <!--<uses-library android:name="scala.2-11-8.library" android:required="true" />-->
        <!--<uses-library android:name="scala.2-11-8.reflect" android:required="true" />-->
        <!--<uses-library android:name="scala.2-11-7.reflect" android:required="true" />-->

        <activity android:name="com.thangiee.lolhangouts.LoginAct"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.thangiee.lolhangouts.RegionSelectionAct"/>

        <activity android:name="com.thangiee.lolhangouts.FriendListAct"
                  android:launchMode="singleTop"/>

        <activity android:name="com.thangiee.lolhangouts.ChatAct"
                  android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.thangiee.lolhangouts.SettingAct"/>
    </application>

</manifest>
